{% extends "layout.html" %}
{% block body %}
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Current Tasks</h2>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4 py-5">
        <!-- Repeat Block for Each Task-->
        {% for task in data %}
        <div class="col d-flex align-items-center card">
            <div class="card-body">
                <h4 class="fw-bold mb-0">{{task.name}}</h4>
                <p>{{task.description}}</p>
                <a href="/viewtask/{{task.taskid}}" class="btn btn-primary">View Task</a>
                <a href="/edittask/{{task.taskid}}" class="btn btn-primary">Edit Task</a>
            </div>
        </div>
        {% endfor %}
        <!-- End Repeat -->
    </div>
</div>
{% endblock %}
